build/
/dist/
/build-*/
/build_*/
/release-*/
.idea/
.gradle/
/x/
local.properties
/scrcpy-server
app/third_party/imgui/examples/
app/third_party/imgui/docs/
app/third_party/imgui/misc/
imgui.ini
gui/node_modules/
gui/dist/
gui/.env
